html {
  background-image: url(img/abstract_pattern_design_background_2007.jpg);
}
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  font-size: larger;
}

.form-container {
  width: 500px;
  background-color: white;
  border-radius: 10px;
  padding: 50px
}


form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form+p,
form p {
  text-align: center;
}

input,
button {
  border-radius: 4px;
  border: unset;
  padding: 15px 30px;
  font-size: larger;
}

button {
  background-color: #a136a6;
  color: white;
  font-family: "New Amsterdam", sans-serif;
  font-style: normal;
  cursor: pointer;
}
button:hover{
  background-color:#159cb8 ;
}

.error {
  color: rgb(255, 81, 81);
}

.escondido {
  display: none;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

h1 {

  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;

}

p {

  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}
::placeholder{
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}